<div class="container mt-4">
    <h2>Postgres Database Backup System</h2>

    @if (lastBackup) {
        <div class="mt-4">
        <h3>Latest Backup</h3>
        <p>Database Name: {{ lastBackup.databaseName }}</p>
        <p>Date: {{ lastBackup.backupDate | date:'dd/MM/yyyy HH:mm:ss' }}</p>
        @switch (lastBackup.status.toString()) {
            @case ("0") {
                <p>Status: In progress</p>
            }
            @case ("1") {
                <p>Status: Completed</p>
            }
            @case ("2") {
                <p>Status: Failed</p>
            }
            @default {
                <p>Status: Unknown</p>
            }
        }
        @if (lastBackup.errorMessage) {
            <p>Error Message: {{ lastBackup.errorMessage }}</p>
        }
        @if (lastBackup.backupSizeBytes) {
            <p>Backup Size: {{ lastBackup.backupSizeBytes / (1024 * 1024) | number: '1.0-2' }} MB</p>
        }
        @if (lastBackup.duration) {
            <p>Duration: {{ formatDuration(lastBackup.duration) }}</p>
        }
        </div>
    }
</div>
